%% -*- mode: Erlang;-*-
[

 %% short_link app settings
 {short_link, [{short_link_size, 7}, % chars
               {short_link_ttl, 720} % hours
              ]},

 %% sasl logging settings
 {sasl, [{errlog_type, error}]},


 %% lager settings
 {lager, [
          {handlers, [{lager_console_backend, info},
                      {lager_file_backend,
                       [{file, "./log/debug.log"}, {level, debug},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "./log/info.log"}, {level, info},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "./log/warning.log"}, {level, warning},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "./log/error.log"}, {level, error},
                        {size, 1073741824}, {date, "$M1"}, {count, 5}]}
                     ]},
          {crash_log, "./log/crash.log"},
          {crash_log_msg_size, 1048576},
          {crash_log_size, 1073741824},
          {crash_log_date, "$M1"},
          {crash_log_count, 5},
          {error_logger_redirect, true}
         ]}
].
