[
  {strategy, [
    {port, 1234},
    {client_disconnect_timeout, 2} % minutes
  ]},

  {sasl, [
    {errlog_type, error}
  ]},

  {lager, [
    {colored, true},
    {lager_console_backend, [{level, info}, {formatter, lager_default_formatter},
      {formatter_config, [time, color, " [",severity,"] ", message, "\e[0m\r\n"]}]}
  ]}
].
