%%-*- mode: erlang -*-

{erl_opts, [debug_info,
            bin_opt_info,
            %% warn_missing_spec,
            {parse_transform, lager_transform},
            {i, "./include"}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.3"}},
        {cowboy, ".*", {git, "https://github.com/extend/cowboy", "1.0.1"}}
       ]}.
