{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, "3.6.9"},
    {ranch, "1.7.1"}
]}.

{relx, [
    {release, {strategy, "0.1.0"}, [strategy, sasl]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
